body {
    background-image: url("../img/back.jpg");
    /* height: 200%; */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 20px;
}

.square {
    margin: 3%;
    display: inline-block;
    border-radius: 10px;
}

.square img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.square:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 0.2s;
}